{{page-title "ColorPalette"}}
<center>
<h1>
       <span id="C">C</span>
        <span id="o">o</span>
        <span id="l">l</span>
        <span id="o1">o</span>
        <span id="r">r</span>
        <span id="P">P</span>
        <span id="a">a</span>
        <span id="l1">l</span>
        <span id="e">e</span>
        <span id="t">t</span>
        <span id="t1">t</span>
        <span id="e1">e</span>
</h1>
</center>
<Palette/>

{{outlet}}